[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
autopep8 = "*"
pytest-watch = "*"
pytest-cov = "*"

[packages]
python-dotenv = "*"
flask = "*"
requests = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
flask-migrate = "*"
pytest = "*"
flask-wtf = "*"
passlib = "*"

[requires]
python_version = "3.7"
